<!DOCTYPE html>
 <html>

   <head>
 <link rel="stylesheet" href="/css/style.css">
    

</head>
    
    <body>
          
           {{>header}}
           <img  class="selector" src="/img/me.png" alt="nothing here">
           {{>footer}}
        </body>

    


 </html>